<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="navbar-brand">
      <img src="favicon.ico" alt="" width="30" height="24">
    </div>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
    @for (menuOption of menuLists; track menuOption) {
      <span style="cursor: pointer">
              <a class="nav-item nav-link" [routerLink]="'/../' + menuOption.route" routerLinkActive="active">
                <div>
                  <label class="nome" style="cursor: pointer">{{ menuOption.menuName }}</label>
                </div>
              </a>
          </span>
    }
      </div>
    </div>
    <mat-icon
      class="icone"
      fontIcon="{{ mode === 'light' ? 'light_mode' : 'dark_mode' }}"
      style="cursor: pointer; color: white"
      [ngClass]="{ 'rotate-icon': mode === 'dark' }"
      (click)="toggleBackground()">
    </mat-icon>
  </div>
</nav>

