<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Generator</title>
    <link rel="stylesheet" href="/css/selecao.css">
    <link rel="icon" type="image/x-icon" href="/img/league of legends.ico">
</head>

<body>
    <header>
        <div class='top'></div>
        <h1 class="destaque3">Jogadores</h1>
    </header>
    <div class="container">
        <div th:each="player : ${allPlayers}">
            <div class="card">
                <div class="card-img">
                    <img th:src="${player.imageCard}">
                </div>
                <div class="card-body">
                    <h2 class="card-title" th:text="${player.name}"></h2>
                    <input type="checkbox">
                    <ul class="card-intro">
                        <li th:each="info : ${player.infos}" th:text="${info}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="button" onclick="randomizeTeams()">RANDOMIZAR</div>

    <footer>
        <div class='bot'>
            <img class="logo" src="/img/logo.png">
            <h3 class="copy">™ & © 2024 Riot Games, Inc. Todos os direitos reservados. Riot Games, League of Legends e
                PvP.net são marcas registradas e marcas de serviço da Riot Games, Inc.</h3>
        </div>
    </footer>



</body>

</html>